body {
	width: 50%;
	min-width: 500px;
	margin: auto;
	background-color: #222;
}

div#content {
	background-color: #eee;
	margin: 10px;
	border-radius: 20px;
	padding: 10px;
	font-family:'Inika', sans-serif;
	box-shadow: 0px 0px 30px black;
}

div#content div {
	margin: 10px;
}

div#header {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 48px;
	text-align: center;
}

div#goodurls div {
	margin: 0;
}

div.whitebox{
	background-color: white;
	box-shadow: 0px 0px 20px #aaa;
	border-radius: 10px;
	padding: 10px;
}
